<div class="rbt-contact-me bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="content">
                    <div class="section-title text-start">
                        <h2 class="title">Get in Touch with techmalan: Your Pathway to Educational Excellence</h2>
                        <p class="description mt--20">Reach out to techmalan for personalized support and expert guidance on your educational journey.</p>
                        <div class="social-share-wrapper mt--30">
                            <h5>You can also follow us on:</h5>
                            <div class="social-share-wrapper mt--30 text-center">
<div class="rbt-post-share d-flex">
    <ul class="social-icon social-default justify-content-center">
        <li>
            <a target="_blank" href="https://www.whatsapp.com/channel/0029VaIBXP347XeJjHqbNi1X">
                <img src="./static/assets/images/Social/wp.png" alt="WhatsApp" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://t.me/+_XxzFosKYOg2M2I9">
                <img src="./static/assets/images/Social/tele.png" alt="Telegram" style="width: 30px; height: 30px;">
            </a>
        </li>	
        <li>
            <a target="_blank" href="https://www.instagram.com/techmalan_india/">
                <img src="./static/assets/images/Social/insta.png" alt="Instagram" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/company/techmalanindia/">
                <img src="./static/assets/images/Social/link.png" alt="LinkedIn" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/people/techmalan-India/100066801796718/">
                <img src="./static/assets/images/Social/fb.png" alt="fb" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.youtube.com/@techmalanIndia">
                <img src="./static/assets/images/Social/yt.png" alt="yt" style="width: 30px; height: 30px;">
            </a>
        </li>
    </ul>
</div>
</div>                                <!-- <ul
                                class="social-icon social-default transparent-with-border justify-content-start mt--30">
                                <li><a href="https://www.facebook.com/">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.twitter.com">
                                        <i class="feather-twitter"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.instagram.com/">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.linkdin.com/">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-xl-1">
                <div class="rbt-contact-form contact-form-style-1 max-width-auto">

                    <form id="contact-form" class="w-100">
                        <div class="form-group">
                            <input name="con_name" type="text" />
                            <label>Name</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input name="con_email" type="email">
                            <label>Email</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <input type="text">
                            <label>Phone</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-group">
                            <textarea></textarea>
                            <label>Message</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="form-submit-group">
                            <button type="submit" class="rbt-btn radius-round btn-gradient hover-icon-reverse">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">GET IT NOW</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
