<div class="rbt-course-area bg-color-extra2 rbt-section-gap">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <span class="subtitle bg-secondary-opacity">Our Features</span>
                    <h2 class="title">techmalan For Everyone</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <ul class="rbt-portfolio-filter filter-tab-button text-center nav nav-tabs" id="rbt-myTab"
                    role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button"
                            role="tab" aria-controls="all" aria-selected="true"><span class="filter-text">Internship</span> <span class="course-number"></span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button id="featured-tab" data-bs-toggle="tab" data-bs-target="#featured" type="button"
                            role="tab" aria-controls="featured" aria-selected="false"><span
                                class="filter-text">College Student</span> <span class="course-number"></span></button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button id="popular-tab" data-bs-toggle="tab" data-bs-target="#popular" type="button"
                            role="tab" aria-controls="popular" aria-selected="false"><span
                                class="filter-text">Professional</span> <span class="course-number"></span></button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Start Card Area -->
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content mt--60" id="rbt-myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all">
                        <div class="row g-5">
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Expert Guidance (Professionals with 10+ years of experien</h5>
                                                        <span><p>Receive guidance and mentorship from seasoned professionals (having 10+ years of experience) in the field, providing invaluable insights and advice.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Live Projects & Tools</h5>
                                                        <span><p>Gain practical, hands-on experience working on real-world projects with access to all industry level software tools within our internship program.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Career Development</h5>
                                                        <span><p>Receive guidance on career development, including resume building, interview preparation, and job search strategies to help you kickstart your career.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Experience/Completion Certificate</h5>
                                                        <span><p>Receive a certificate of experience/completion at the end of the internship program, recognizing your achievements and dedication.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Job Placement Opportunity</h5>
                                                        <span><p>Explore abundant job placement opportunities through our internship program, connecting talented individuals with promising career paths in leading industries.&nbsp;</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                                        </div>
                    </div>

                    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                        <div class="row g-5">
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Consistency with structured courses and flexible plans tailored to your needs at various prices.</h5>
                                                        <span><p>Establish consistency and reliability through meticulously designed courses, supplemented by adaptable plans meticulously crafted to cater to your unique requirements, available at a range of prices to ensure accessibility and affordability for all.&nbsp;</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Courses curated by Industry experts (Professionals with 10+ years of experience)</h5>
                                                        <span><p>Access courses meticulously crafted by industry professionals having 10+ years of experience in market, to meet the demands of the current job market.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Self-paced learning with real-time 1:1 doubt support</h5>
                                                        <span><p>Engage in self-paced learning while receiving real-time 1:1 doubt resolution for personalized support.&nbsp;</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Placement Assistance</h5>
                                                        <span><p>Benefit from tailored support to help secure employment opportunities aligned with your skills and career goals.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Courses with a decade-long history of proven success.</h5>
                                                        <span><p>Explore courses with ten years of proven success to ensure your learning journey is backed by experience and achievement.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                                        </div>
                    </div>

                    <div class="tab-pane fade" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                        <div class="row g-5">
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Live Classes with Recorded Sessions</h5>
                                                        <span><p>Engage in live classes supplemented by recorded sessions for flexible learning at your own pace.&nbsp;</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Real Time Data Projects</h5>
                                                        <span><p>Gain practical, hands-on experience working on real-world projects with access to all industry level software tools within our internship program.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Placement Assistance</h5>
                                                        <span><p>Benefit from tailored support to help secure employment opportunities aligned with your skills and career goals.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">2X-3X Salary Hike</h5>
                                                        <span><p>Unlock the potential for a significant salary increase, experience a substantial boost in your income with opportunities provided through our program.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                
                                <!-- Start Single Course  -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single-column-20">
                                        <div class="rbt-testimonial-box">
                                            <div class="inner">
                                                <div class="clint-info-wrapper">
                                                    <div class="thumb">
                                                        <img src="static/assets/images/testimonial/client-05.png" alt="Clint Images">
                                                    </div>
                                                    <div class="client-info">
                                                        <h5 class="title">Learn from mentors with 10+ years' experience in top organizations.</h5>
                                                        <span><p>Access mentorship from seasoned professionals with 10+ years of experience in leading organizations, facilitating real data project exposure for students.</p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Course  -->
                                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Course Area  -->
