<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
{% comment %} <title>techmalan - Artificial Intelligence, Machine Learning, Data Science Online Courses</title> {% endcomment %}
<meta name="robots" content="noindex, follow" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% load static %}
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logos/favicon.png' %} ">

<!-- CSS
============================================ -->
<link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %} ">
<link rel="stylesheet" href=" {% static 'assets/css/vendor/slick.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/vendor/slick-theme.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/sal.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/feather.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.min.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/euclid-circulara.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/swiper.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/magnify.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/odometer.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/animation.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap-select.min.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/magnigy-popup.min.css' %} ">
<link rel="stylesheet" href="{% static 'assets/css/plugins/plyr.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %} ">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %} ">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" > 
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<header class="rbt-header rbt-header-10">
    <div class="rbt-sticky-placeholder"></div>
    <!-- Start Header Top  -->
    <div
        class="rbt-header-top rbt-header-top-1 header-space-betwween bg-color-darker rbt-border-bottom top-expended-activation">
        <div class="container-fluid">
            <div class="top-expended-wrapper">
                <div class="top-expended-inner rbt-header-sec align-items-center ">

                    <div class="rbt-header-sec-col rbt-header-left d-none d-xl-block">
                        <div class="rbt-header-content">
                            <div class="header-info">
                                <ul class="rbt-information-list">
                                <li><a href="tel:8979871918">Support: +91-8979871918</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
<!--
                    <div class="rbt-header-sec-col rbt-header-center">
                        <div class="rbt-header-content justify-content-start justify-content-xl-center">
                            <div class="header-info">
                                <div class="rbt-header-top-news">
                                    <div class="inner">
                                        <div class="content">
                                            <span
                                                class="rbt-badge variation-02 bg-color-primary color-white radius-round">Hot</span>
                                            <span class="news-text"><img src="{% static ' ' %}assets/images/icons/hand-emojji.svg"
                                                    alt="Hand Emojji Images"> Intro price. Get Histudy for Big Sale
                                                -95%
                                                off.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <style>
                        .icon {
                            width: 15px; /* Adjust size as needed */
                            height: 15px; /* Adjust size as needed */
                    
                        }
                    </style>

                    <style>
                        .dropdown-container {
                            position: relative;
                            display: inline-block;
                        }
                
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;
                        }
                
                        .dropdown-content a {
                            color: black;
                            padding: 12px 16px;
                            text-decoration: none;
                            display: block;
                        }
                
                        .dropdown-content a:hover {
                            background-color: #f1f1f1;
                        }
                
                        .dropdown-container:hover .dropdown-content {
                            display: block;
                        }
                
                        .dropdown-container:hover .icon, .dropdown-container:hover .rbt-btn-link {
                            color: #0056b3; /* Change color on hover if needed */
                        }
                    </style>

                    <div class="rbt-header-sec-col rbt-header-right mt_md--10 mt_sm--10">
                        <div class="rbt-header-content justify-content-start justify-content-lg-end">
                            <!-- Start Header Information List  -->
                            <div class="header-info">
                                <ul class="rbt-information-list">
                                <!-- <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100066801796718">
                                    <i class="feather-facebook"></i>
                                </a>
                            </li> -->
                            <li>
                                <a target="_blank" href="https://www.facebook.com/profile.php?id=100066801796718">
                                    <img src="{% static 'assets/icons/facebook (1).svg' %} " alt="Facebook" class="icon">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://youtube.com/@techmalanIndia">
                                    <!-- <i class="feather-youtube"></i> -->
                                    <img src="{% static 'assets/icons/linkedin1.svg' %}" alt="Facebook" class="icon">
                                </a>
                            </li>
                            <li><a target="_blank" href="https://www.instagram.com/techmalan_india/">
                                    <!-- <i class="feather-instagram"></i> -->
                                    <img src="{% static 'assets/icons/instagram (1).svg ' %}" alt="Facebook" class="icon">
                                </a>
                            </li>
                            {% comment %} <li><a target="_blank" href="https://www.linkedin.com/company/techmalan-india-pvt-ltd/">
                                    
                                    <img src="{% static ' assets/icons/linkedin (1).svg' %}" alt="linkedin" class="icon">
                                </a>
                            </li>  {% endcomment %}
                
                            </div>
                            <!-- End Header Information List  -->
                        </div>
                    </div>

                </div>
                <div class="header-info">
                    <div class="top-bar-expended d-block d-lg-none">
                        <!-- <button class="topbar-expend-button rbt-round-btn"><i class="feather-plus"></i></button> -->
                        <img src="{% static 'assets/icons/down.svg ' %}" alt="Facebook" class="icon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top  -->
    

<div class="rbt-header-wrapper header-space-betwween header-sticky">
    <div class="container-fluid">
        <div class="mainbar-row rbt-navigation-center align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static 'assets/images/logos/techMalan1.png ' %}" alt="Education Logo Images">
                        </a>
                    </div>
                </div>
            </div>

            <div class="rbt-main-navigation d-none d-xl-block">
                <nav class="mainmenu-nav">
                    <ul class="mainmenu">
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="/">Home</a>
                        </li>
<!--
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="about.php">About</a>
                        </li>

                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="courses.php">Courses</a>
                        </li>
-->
                        <li class="has-dropdown has-menu-child-item">
                            <a href="/internships">Internships
                                <!-- <i class="feather-chevron-down"></i> -->
                            </a>
                            <!-- <ul class="submenu">
                                <li class="has-dropdown"><a href="#">Instructor Dashboard</a>
                                    <ul class="submenu">
                                        <li><a href="instructor-dashboard.html">Dashboard</a></li>
                                        <li><a href="instructor-profile.php">Profile</a></li>
                                        <li><a href="my-courses.php">My Courses</a></li>
                                        <li><a href="instructor-wishlist.html">Wishlist</a></li>
                                        <li><a href="instructor-reviews.html">Reviews</a></li>
                                        <li><a href="instructor-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                        <li><a href="instructor-order-history.html">Order History</a></li>
                                        <li><a href="instructor-course.html">My Course</a></li>
                                        <li><a href="instructor-announcements.html">Announcements</a></li>
                                        <li><a href="instructor-quiz-attempts.html">Quiz Attempts</a></li>
                                        <li><a href="instructor-assignments.html">Assignments</a></li>
                                        <li><a href="instructor-settings.html">Settings</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown"><a href="#">Student Dashboard</a>
                                    <ul class="submenu">
                                        <li><a href="student-dashboard.html">Dashboard</a></li>
                                        <li><a href="student-profile.php">Profile</a></li>
                                        <li><a href="student-enrolled-courses.html">My Courses</a></li>
                                        <li><a href="student-wishlist.html">Wishlist</a></li>
                                        <li><a href="student-reviews.html">Reviews</a></li>
                                        <li><a href="student-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                        <li><a href="student-order-history.html">Order History</a></li>
                                        <li><a href="student-settings.html">Settings</a></li>
                                    </ul>
                                </li>
                            </ul> -->
                        </li>
<!--
                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="community.php">Community
                               
                            </a>
                        </li>
-->                               

                        <li class="with-megamenu has-menu-child-item position-static">
                            <a href="/contact-us/">Contact </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header-right">

                <ul class="quick-access">
                    <li class="access-icon rbt-mini-cart">
                        {% if request.user.is_authenticated %}
                        <div class="dropdown-container">
                            <a class="rbt-btn-link color-primary ml-3 d-none d-xl-block" href="#">{{ request.user }}
                                <img src="{% static 'assets/icons/user.svg' %}" alt="user" class="icon" style="width: 30px; height: 30px;">
                            </a>
                            <div class="dropdown-content">
                                <a href="#">Profile</a>
                                <a href="/settings/">Dashboard</a>
                                <a href="/logout/">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <a class="rbt-btn-link color-primary ml-3 d-none d-xl-block" href="/login-signup/">Login/SignUp</a>
                        </li>
                        {% endif %}
                </ul>

               
                <!-- Start Mobile-Menu-Bar -->
                <div class="mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button rbt-round-btn">
                            <!-- <i class="feather-menu"></i> -->
                            <img src="{% static 'assets/icons/menu.svg ' %}" alt="Facebook" class="icon">
                        </button>
                    </div>
                </div>
                <!-- Start Mobile-Menu-Bar -->

            </div>
        </div>
    </div>
    <!-- Start Search Dropdown  -->
    <!--
    <div class="rbt-search-dropdown">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#">
                        <input type="text" placeholder="What are you looking for?">
                        <div class="submit-btn">
                            <a class="rbt-btn btn-gradient btn-md" href="#">Search</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="rbt-separator-mid">
                <hr class="rbt-separator m-0">
            </div>

            <div class="row g-4 pt--30 pb--60">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h5 class="rbt-title-style-2">Our Top Course</h5>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="course-details.html">
                                <img src="{% static ' ' %}assets/images/course/course-online-01.jpg" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="course-details.html">React Js</a>
                            </h5>
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">$15</span>
                                    <span class="off-price">$25</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="course-details.html">
                                <img src="{% static ' ' %}assets/images/course/course-online-02.jpg" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="course-details.html">Java Program</a>
                            </h5>
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">$10</span>
                                    <span class="off-price">$40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="course-details.html">
                                <img src="{% static ' ' %}assets/images/course/course-online-03.jpg" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="course-details.html">Web Design</a>
                            </h5>
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">$10</span>
                                    <span class="off-price">$20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="rbt-card variation-01 rbt-hover">
                        <div class="rbt-card-img">
                            <a href="course-details.html">
                                <img src="{% static ' ' %}assets/images/course/course-online-04.jpg" alt="Card image">
                            </a>
                        </div>
                        <div class="rbt-card-body">
                            <h5 class="rbt-card-title"><a href="course-details.html">Web Design</a>
                            </h5>
                            <div class="rbt-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span class="rating-count"> (15 Reviews)</span>
                            </div>
                            <div class="rbt-card-bottom">
                                <div class="rbt-price">
                                    <span class="current-price">$20</span>
                                    <span class="off-price">$40</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>-->
    <!-- End Search Dropdown  -->
</div>
    
    <!-- Start Side Vav -->
    <div class="rbt-offcanvas-side-menu rbt-category-sidemenu">
        <div class="inner-wrapper">
            <div class="inner-top">
                <div class="inner-title">
                    <h4 class="title">Course Category</h4>
                </div>
                <div class="rbt-btn-close">
                    <button class="rbt-close-offcanvas rbt-round-btn"><i class="feather-x"></i></button>
                </div>
            </div>
            <nav class="side-nav w-100">
                <ul class="rbt-vertical-nav-list-wrapper vertical-nav-menu">
                    <li class="vertical-nav-item">
                        <a href="#">Course School</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">Online School</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">kindergarten</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Photo</a></li>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Math</a></li>
                                    <li><a href="#">Read</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vertical-nav-item">
                        <a href="#">Classic LMS</a>
                        <div class="vartical-nav-content-menu-wrapper">
                            <div class="vartical-nav-content-menu">
                                <h3 class="rbt-short-title">Course Title</h3>
                                <ul class="rbt-vertical-nav-list-wrapper">
                                    <li><a href="#">Web Design</a></li>
                                    <li><a href="#">Art</a></li>
                                    <li><a href="#">Figma</a></li>
                                    <li><a href="#">Adobe</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="read-more-btn">
                    <div class="rbt-btn-wrapper mt--20">
                        <a class="rbt-btn btn-border-gradient radius-round btn-sm hover-transform-none w-100 justify-content-center text-center"
                            href="#">
                            <span>Learn More</span>
                        </a>
                    </div>
                </div>
            </nav>
            <div class="rbt-offcanvas-footer">

            </div>
        </div>
    </div>
    <!-- End Side Vav -->
    <a class="rbt-close_side_menu" href="javascript:void(0);"></a>
</header>