{% extends "base.html" %}
{% load static %}
{% block title %}Internship Detail{% endblock title %}
{% block body %}
{% include "sidebar.html" %}

<!-- Start breadcrumb Area -->
<div class="rbt-breadcrumb-default rbt-breadcrumb-style-3">
    <div class="breadcrumb-inner">
        <img src="{% static "assets/images/bg/bg5.jpg" %} " alt="Education Images">
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
                <div class="content">
                    <div class="content text-start">
                        <ul class="page-list">

                            <li class="rbt-breadcrumb-item"><a href="index.html">Home |</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right">Internship</i></div>
                            </li>
                            <li class="rbt-breadcrumb-item active"></li>
                        </ul>
                        <h2 class="title mb--0">Data Analytics 2024 H11</h2>
                        <p class="description">
                            <ul>
                                <li>Experience the dynamic intersection of SAS and Python in our Data Analytics Internship, where innovation meets practical application.</li>
                                <li>Dive into the world of data manipulation, visualization, and analysis using industry-leading tools and languages.</li>
                                <li>Explore the versatility of Python for data wrangling and statistical modeling, while harnessing the power of SAS for advanced analytics and predictive modeling.</li>
                                <li>Collaborate with experts, gain hands-on experience, and unlock the potential of data-driven insights.</li>
                                <li>Join us on a transformative journey where SAS and Python converge to shape the future of data analytics.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->

<div class="rbt-course-details-area rbt-section-gap">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="course-details-content">

                    <div class="rbt-feature-box rbt-shadow-box thuumbnail">
                        <img class="w-100" alt="profile" src="{% static "assets/uploads/images/internship/Data-Analytics.jpg" %} ">                        </div>
                    
                    <!-- Start Course Feature Box  -->
                    <div class="rbt-feature-box rbt-shadow-box mt--60">
                        <div class="row g-5">
                            <!-- Start Feture Box  -->
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h4 class="title mb--20">Internship Perks</h4>
                                </div>
                                <p>
                                    <ul>
                                        <li>Experience Letter, Internship Certificate &amp; Recommendation Letter.</li>
                                        <li>Full-time job placements &amp; pre-placement offers with matrixinfocom India or our esteemed clients only to top performed students.</li>
                                        <li>Earn up to 10K with our Campus Ambassadors &amp; Teaching Partners programs offered exclusively to interns.</li>
                                        <li>This program does not include a stipend. However, students having skills to participate in performance-based projects, excluding assignments, may receive a stipend of up to 5K.</li>
                                        <li>Maximize professional network by showcasing internship experience on LinkedIn and get higher visibility.</li>
                                        <li>Work on cutting-edge emerging technologies &amp; tools.</li>
                                        <li>Engage in corporate networking events with industry leaders.<br>&nbsp;</li>
                                    </ul><p>Disclaimer - Subject to eligibility and performance in the internship.</p>
                                </p>
                            </div>
                            <!-- End Feture Box  -->
                        </div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-feature-box rbt-shadow-box mt--60">
                        <div class="row g-5">
                            <!-- Start Feture Box  -->
                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h4 class="title mb--20">Internship Description</h4>
                                </div>
                                <p>
                                    <p>In our Data Analytics internship program, students will have the opportunity to engage in a varieties of impactful projects aimed at gaining insights into customer behavior and optimizing business strategies.</p>
                                    <p><strong>Credit Card Customer Spending Pattern Analysis</strong></p>
                                    <ul>
                                        <li>Interns will dive into analyzing the spending patterns of credit card customers, aiming to identify the most profitable segments and highest paying customers. Through advanced data analysis techniques, interns will explore spending and repayment patterns across different customer segments, while also delving into customer acquisition details. By uncovering valuable insights, interns will contribute to optimizing marketing strategies and enhancing customer retention efforts.</li>
                                    </ul><p><strong>Customer Card Transactions Analysis</strong></p>
                                    <ul>
                                        <li>Interns will embark on a project focused on analyzing various aspects of customer card transactions, such as benefits, losses, and other relevant factors. By leveraging data analytics tools and methodologies, interns will gain insights into transaction trends and identify opportunities to maximize profitability while minimizing risks. This project will provide interns with hands-on experience in evaluating the financial performance of customer transactions and developing strategies to optimize outcomes.&nbsp;</li>
                                    </ul>
                                    <p><strong>E-commerce Spending and Return Details Analysis</strong></p>
                                    <ul>
                                        <li>Interns will analyze spending and return details of customers from an E-commerce, coupled with their demographic information. Through comprehensive data analysis, interns will uncover patterns in customer spending behavior and identify profitable segments. By examining demographic trends and spending patterns, interns will contribute to optimizing marketing strategies and improving customer targeting efforts.</li>
                                    </ul>
                                    <p>These projects offer interns a unique opportunity to apply their data analytics skills to real-world scenarios, gain practical experience, and develop critical insights into customer behavior and business performance. Through hands-on projects like these, interns will emerge equipped with the expertise and confidence needed to excel in the dynamic field of data analytics.</p>
                                </p>
                            </div>
                            <!-- End Feture Box  -->
                        </div>
                    </div>
                    <!-- End Course Feature Box  -->

                    <!-- Start Course Feature Box  -->
                    <div class="rbt-feature-box rbt-shadow-box mt--60">
                        <div class="row g-5">
                            <!-- Start Feture Box  -->
                                                            <div class="col-lg-12">
                                <div class="section-title">
                                    <h4 class="title mb--20">More Information</h4>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="add-to-card-button mb--15">
                                                <a class="rbt-btn btn-gradient icon-hover w-80 d-block text-center" href="assets/uploads/internship-document/Program-Description/Program-Details.pdf" target="_blank">
                                                    <span class="btn-text">Program Details</span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="add-to-card-button mb--15">
                                                <a class="rbt-btn btn-gradient icon-hover w-80 d-block text-center" href="assets/uploads/internship-document/Job-Description/Job-Description.pdf" target="_blank">
                                                    <span class="btn-text">Job Description</span>
                                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Feture Box  -->
                        </div>
                    </div>
                    <!-- End Course Feature Box  -->

                </div>
            </div>
{% comment %} apply now for internship {% endcomment %}

            <div class="col-lg-4 mt_md--60 mt_sm--60">
                <div class="course-sidebar rbt-gradient-border sticky-top rbt-shadow-box course-sidebar-top">
                    <div class="inner">
                        <div class="content pt--30">
                            <div class="add-to-card-button mb--15">
                                <a class="rbt-btn btn-gradient icon-hover w-100 d-block text-center" 
                                    href="/enrollnow">
                                        <span class="btn-text">
                                            Apply Now											</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </a>
                            </div>

                            <div class="rbt-widget-details">
                                <ul class="rbt-course-details-list-wrapper">
                                    <li><span>Application Last Date</span><span class="rbt-feature-value rbt-badge-5">2024-06-08</span></li>
                                    <li>
                                        <span>Exam Date</span><span class="rbt-feature-value rbt-badge-5">
                                        2024-06-09											</span>
                                    </li>
                                    <li><span>Internship Start Date</span><span class="rbt-feature-value rbt-badge-5">2024-06-16</span></li>
                                  <!-- <li><span>Skill Level</span><span class="rbt-feature-value rbt-badge-5"> College Student</span></li> -->
                                    <li><span>WhatsApp Link</span><span class="rbt-feature-value rbt-badge-5"><a target="_blank" href="https://chat.whatsapp.com/CEVtT2kESkdHbrGZfYmkMr">Join Now</a></span></li>
                                    <li><span>Certificate</span><span class="rbt-feature-value rbt-badge-5">Yes</span></li>
                                    <li><span>Mode</span><span class="rbt-feature-value rbt-badge-5">Online/Offline</span></li>
                                    <li><span>Language</span><span class="rbt-feature-value rbt-badge-5">English/Regional</span></li>
                                  <!--  <li><span>Negative Marking</span><span class="rbt-feature-value rbt-badge-5">Yes</span></li> -->
                                </ul>
                                <!-- <div class='rbt-show-more-btn'>show more</div> -->
                            </div>

                            <div class="social-share-wrapper mt--30 text-center">
                                <div class="social-share-wrapper mt--30 text-center">
<div class="rbt-post-share d-flex">
    <ul class="social-icon social-default justify-content-center">
        <li>
            <a target="_blank" href="https://www.whatsapp.com/channel/0029VaIBXP347XeJjHqbNi1X">
                <img src="./assets/images/Social/wp.png" alt="WhatsApp" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://t.me/+_XxzFosKYOg2M2I9">
                <img src="./assets/images/Social/tele.png" alt="Telegram" style="width: 30px; height: 30px;">
            </a>
        </li>	
        <li>
            <a target="_blank" href="https://www.instagram.com/matrixinfocom_india/">
                <img src="./assets/images/Social/insta.png" alt="Instagram" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com/company/matrixinfocomindia/">
                <img src="./assets/images/Social/link.png" alt="LinkedIn" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.facebook.com/people/matrixinfocom-India/100066801796718/">
                <img src="./assets/images/Social/fb.png" alt="fb" style="width: 30px; height: 30px;">
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.youtube.com/@matrixinfocomIndia">
                <img src="./assets/images/Social/yt.png" alt="yt" style="width: 30px; height: 30px;">
            </a>
        </li>
    </ul>
</div>
</div>                                    <hr class="mt--20">
                                <div class="contact-with-us text-center">
                                    <p>For Enquiry!</p>
                                    <p class="rbt-badge-2 mt--10 justify-content-center w-100"><i class="feather-phone mr--5"></i> Call Us: <a href="tel:+918978871918"><strong>+91-8979871918</strong></a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



</div>


{% endblock body %}